DB_KEY="put some database key here idk"
DISCORD_BOT_TOKEN="website app bot token here"
DISCORD_CLIENT_ID="ID of the website app"
DISCORD_CLIENT_SECRET="secret of the website app"
NEXTAUTH_SECRET="public secret of the website app"
DB_URI="mongodb+srv://database login uri/"
NEXTAUTH_URL="the domain this website is going to be hosted on (e.g. theworldmachine.xyz)"