DB_KEY="put some database key here idk"
DISCORD_CLIENT_ID="ID of the bot"
DISCORD_CLIENT_SECRET="secret of the bot"
NEXTAUTH_SECRET="public secret of the bot"
DB_URI="mongodb+srv://database login uri/"
DISCORD_BOT_TOKEN="bot token here"
NEXTAUTH_URL="the link this website is going to be hosted on (e.g. theworldmachine.xyz)"